@import './../../vendor/_varibles';

.rating {
  display: flex;
  padding: 20px 20px 20px 0;
  width: 100%;
  box-sizing: border-box;
  column-gap: 15px;

  &__title {
    text-align: start;
    font-size: 38px;
    @include text(36px, 600, 45px, #35383b);
  }
}

.left {
  text-align: center;
}

.averageRating {
  font-size: 48px;
  font-weight: bold;
  color: #35383b;
}

.stars {
  margin-top: 10px;
  display: flex;
}

.star {
  font-size: 32px;
  color: #345474;
  cursor: pointer;
  margin-right: 5px;
}
.star:last-child {
  margin-right: 0;
}

.star-5:hover ~ .star-5,
.star-4:hover ~ .star-4,
.star-3:hover ~ .star-3,
.star-2:hover ~ .star-2,
.star-1:hover ~ .star-1 {
  color: #ccc;
}

.right {
  display: flex;
  flex-direction: column;
}

.ratingsCount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  column-gap: 10px;
}

.ratingBar {
  width: 450px;
  height: 20px;
  background-color: #d3e2f7;
  border-radius: 5px;
}

.ratingBarInner {
  height: 100%;
  background-color: #3b7dd6;
  border-radius: 5px;
  width: 0;
  transition: width 0.5s;
}
