@import './../../vendor/_varibles';

.returnElement {
  &__btn {
    background-image: url('../../images/back-icon.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: left;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }

  &__title {
    margin: 0 0 0 30px;
    padding: 0;
    @include text(
      $font-small-14,
      $weight-500,
      $line-height-small-14,
      $color-blue-button-text
    );
    text-align: center;
    transition: 0.3s;

    &:hover {
      color: #2f5e9d;
    }
  }

  &__ref {
    margin: 10px 35px 0;
    padding: 0;
    text-align: left;
    @include text(
      $font-small-14,
      $weight-300,
      $line-height-small-14,
      $color-gray-text
    );
  }
}
