@import './../../vendor/_varibles';

.header {
  max-width: 1920px;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  @include shadowBackground($background-white, $box-shadow-main);
  z-index: 100;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-left: 165px;
    &_link {
      display: block;
      width: 60px;
      height: 60px;
      margin-right: 15px;
      text-decoration: none;
      background: url(../../images/logo-min.svg) center no-repeat;
      transition: background-image 0.3s ease;
      &:hover {
        background-image: url(../../images/logo-state-hover-min.svg);
      }
      &:active {
        background-image: url(../../images/logo-state-pressed-min.svg);
      }
    }
    &_title {
      @include text(
        $weight-600,
        $font-h2-60,
        $line-height-h2,
        $color-blue-dark-title
      );
    }
  }

  &__search {
    &_form {
      display: flex;
      align-items: center;
      min-width: 530px;
    }
    &_input {
      flex-grow: 1;
      padding: 11px 20px 11px 50px;
      outline: none;
      background: url(../../images/search-min.svg) no-repeat;
      background-position: 20px 10px;
      @include text(
        $font-small-14,
        $weight-300,
        $line-height-small-14,
        $color-blue-dark-title
      );
      @include input($border-main, $background-bots-main);
      &:focus {
        @include input($border-active, $background-bots-main);
      }
      &::-webkit-input-placeholder {
        color: $color-blue-input-text;
      }
      &:-moz-placeholder {
        color: $color-blue-input-text;
      }
      &::-moz-placeholder {
        color: $color-blue-input-text;
      }
      &:-ms-input-placeholder {
        color: $color-blue-input-text;
      }
    }
  }
}
