@import './../../vendor/_varibles';

.reset {
  max-width: 455px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 260px 0 265px;

  &__container {
    border-radius: 20px;
    padding: 40px;
    @include shadowBackground($background-white, $box-shadow-main);
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__buttonTitle {
    width: 24px;
    height: 24px;
    margin: 10px;
    border: none;
    background: url(../../images/back-left-lg-min.svg) center no-repeat;
    cursor: pointer;
    &:hover {
      background-image: url(../../images/back-left-lg-hover-min.svg);
    }
    &:active {
      background-image: url(../../images/back-left-lg-pressed-min.svg);
    }
  }

  &__textTitle {
    @include text(
      $font-medium-24,
      $weight-300,
      $line-height-medium-24,
      $color-blue-dark-title
    );
  }

  &__formText {
    margin: 0 0 5px 10px;
    @include text(
      $font-small-14,
      $weight-300,
      $line-height-small-14,
      $color-blue-dark-title
    );
  }

  &__formInput {
    width: 100%;
    padding: 16px 20px;
    outline: none;
    @include text(
      $font-small-14,
      $weight-300,
      $line-height-small-14,
      $color-blue-dark-title
    );
    @include input($border-main, $background-bots-main);
    &:focus {
      @include input($border-active, $background-bots-main);
    }
    &::-webkit-input-placeholder {
      color: $color-blue-input-text;
    }
    &:-moz-placeholder {
      color: $color-blue-input-text;
    }
    &::-moz-placeholder {
      color: $color-blue-input-text;
    }
    &:-ms-input-placeholder {
      color: $color-blue-input-text;
    }
    &_error {
      margin: 5px 0 0 10px;
      @include text(
        $font-small-14,
        $weight-300,
        $line-height-small-14,
        $color-red-errors
      );
    }
  }

  &__formButton {
    width: 100%;
    margin-top: 63px;
    border: none;
    border-radius: 15px;
    padding: 10px 0;
    background-color: $background-color-button-default;
    @include text(
      $font-medium-button-24,
      $weight-400,
      $line-height-medium-24,
      $color-button-text
    );
    cursor: pointer;
    &:hover {
      background-color: $background-color-button-hover;
    }
    &:active {
      background-color: $background-color-button-pressed;
    }
    &_disabled {
      background-color: $background-color-button-disable;
      cursor: not-allowed;
      pointer-events: none;
      margin-top: 40px;
    }
  }
}
