@import './../../vendor/_varibles';

.botHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 43px;

  &__button {
    width: 20px;
    height: 20px;
    background-image: url('../../images/botDetails_images/chevron-left.svg');
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: none;
    margin-top: 8px;
  }

  &__mainTitle {
    @include text(14px, 500, 17.5px, #3b7dd6);
    margin: 10px auto 0 3px;
  }

  &__mainSubtitle {
    margin: 10px auto 0 5px;
    @include text(14px, 400, 17.5px, #35383b);
  }
}
