@import '../../../vendor/varibles';

.change {
  max-width: 455px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 260px 0 265px;
  display: flex;
  justify-content: center;

  &__container {
    border-radius: 20px;
    padding: 40px;
    @include shadowBackground($background-white, $box-shadow-main);
  }

  &__success {
    max-width: 391px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__successPicture {
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
  }

  &__successTitle {
    text-wrap: nowrap;
    @include text(
      $font-medium-24,
      $weight-300,
      $line-height-medium-24,
      $color-blue-dark-title
    );
  }

  &__formButton {
    width: 100%;
    margin-top: 63px;
    border: none;
    border-radius: 15px;
    padding: 10px 24px;
    background-color: $background-color-button-default;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    @include text(
      $font-medium-button-24,
      $weight-400,
      $line-height-medium-24,
      $color-button-text
    );
    &:hover {
      background-color: $background-color-button-hover;
    }
    &:active {
      background-color: $background-color-button-pressed;
    }
    &_look {
      width: 20px;
      height: 20px;
      border: none;
      position: absolute;
      top: 37px;
      right: 20px;
      background: transparent center no-repeat;
      transition: background-image 0.3s ease;
      &_close {
        background-image: url(../../../images/eyes-close-password-min.svg);
        &:hover {
          background-image: url(../../../images/eyes-close-password-state-hover-min.svg);
        }
        &:active {
          background-image: url(../../../images/eyes-close-password-state-pressed-min.svg);
        }
      }
      &_open {
        background-image: url(../../../images/eyes-open-password-min.svg);
        &:hover {
          background-image: url(../../../images/eyes-open-password-state-hover-min.svg);
        }
        &:active {
          background-image: url(../../../images/eyes-open-password-state-pressed-min.svg);
        }
      }
    }
    &_disable {
      background-color: $background-color-button-disable;
      cursor: not-allowed;
      pointer-events: none;
      margin-top: 40px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__buttonTitle {
    width: 24px;
    height: 24px;
    margin: 10px;
    border: none;
    background: url(../../../images/back-left-lg-min.svg) center no-repeat;
    cursor: pointer;
    transition: background-image 0.3s ease;
    &__buttonLogo:hover {
      background-image: url(../../../images/back-left-lg-hover-min.svg);
    }
    &__buttonLogo:active {
      background-image: url(../../../images/back-left-lg-pressed-min.svg);
    }
  }

  &__textTitle {
    @include text(
      $font-medium-24,
      $weight-300,
      $line-height-medium-24,
      $color-blue-dark-title
    );
  }

  &__formInput {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 16px 20px;
    outline: none;
    @include text(
      $font-small-14,
      $weight-300,
      $line-height-small-14,
      $color-blue-dark-title
    );
    @include input($border-main, $background-bots-main);
    &:focus {
      @include input($border-active, $background-bots-main);
    }
    &::-webkit-input-placeholder {
      color: $color-blue-input-text;
    }
    &:-moz-placeholder {
      color: $color-blue-input-text;
    }
    &::-moz-placeholder {
      color: $color-blue-input-text;
    }
    &:-ms-input-placeholder {
      color: $color-blue-input-text;
    }
    &_container {
      position: relative;
      margin-bottom: 33px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &_text {
      margin: 0 0 5px 10px;
      @include text(
        $font-small-14,
        $weight-300,
        $line-height-small-14,
        $color-blue-dark-title
      );
    }
    &_error {
      margin: 5px 0 0 10px;
      @include text(
        $font-small-14,
        $weight-300,
        $line-height-small-14,
        $color-red-errors
      );
    }
  }

  &__cancelButton {
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px 18px;
    background-color: inherit;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    @include text(
      $font-medium-button-24,
      $weight-400,
      $line-height-medium-24,
      $background-color-button-default
    );
    &:hover {
      color: $background-color-button-hover;
    }
    &:active {
      color: $background-color-button-pressed;
    }
  }
}
