.login {
  max-width: 415px;
  margin: 0 auto;
  padding: 222px 0 241px;

  &__loginContainer {
    display: flex;
    margin: 0;
    padding: 40px;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 20px;
    background: #fff;
    box-shadow:
      0px 1px 3px 0px rgba(106, 141, 190, 0.1),
      0px 6px 6px 0px rgba(106, 141, 190, 0.09),
      0px 13px 8px 0px rgba(106, 141, 190, 0.05),
      0px 23px 9px 0px rgba(106, 141, 190, 0.01),
      0px 35px 10px 0px rgba(106, 141, 190, 0);
  }

  &__title {
    font-family: Geologica;
    color: #183357;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__form {
    margin: 40px 0 0;
    display: flex;
    flex-direction: column;
  }

  &__inputNameContainer {
    margin: 33px 0 0;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
  }

  &__inputName {
    margin: 0;
    padding: 0 10px;
    font-family: Geologica;
    color: #183357;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__resetLink {
    margin: 0;
    text-decoration: none;
    color: var(--buttons-filled-default-button, #3b7dd6);
    text-align: right;
    font-family: Geologica;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__input {
    margin: 5px 0 0;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--web-main-color-light, #d3e2f7);
    background: #f8fafc;
    color: var(
      --web-main-color-dark,
      var(--buttons-filled-pressed-button, #183357)
    );
    font-family: Geologica Roman;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: -webkit-fill-available;
  }

  &__input:focus {
    outline: none;
    border: 1px solid var(--web-main-color-dark, #183357);
  }

  &__input::placeholder {
    color: var(--web-textbox-text, #84a7d5);
    font-family: Geologica;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__error {
    color: var(--web-error, #e44f2f);
    font-family: Geologica;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 5px 0 0;
  }

  &__password {
    margin: 0;
    position: relative;
  }

  &__viewPassword {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('../../images/eye.svg');
    top: 15px;
    right: 20px;
  }

  &__viewPasswordOn {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('../../images/eye-off.svg');
    top: 15px;
    right: 20px;
  }

  &__button {
    margin: 63px 0 0;
    padding: 10px 30px;
    width: 100%;
    color: var(--web-white, #f8fafc);
    text-align: center;
    font-family: Geologica;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background: var(--buttons-filled-default-button, #3b7dd6);
  }

  &__button:hover {
    background: var(--buttons-filled-hovered-button, #2f5e9d);
  }

  &__button:disabled {
    cursor: auto;
    background: var(--buttons-filled-disabled-button, #9cbdea);
  }

  &__registrLink {
    text-decoration: none;
    margin: 21px 0 0;
    color: var(--buttons-filled-default-button, #3b7dd6);
    font-family: Geologica;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }
}
